<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @finance.user_id %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @finance.cash %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
